.card {
    height: 100%;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 64px;
    width: 100%;
    background-color: #ffffff;
    padding: 0px 20px;
}

.card-body {
    height: calc(100vh - 224px);
}

.table-layout {
    height: 100%;
}

tbody {
    tr {
        th {
            font-weight: 500;
        }
    }
}

.table thead th {
    position: sticky;
    top: -1px;
    background-color: antiquewhite !important;
    z-index: 10;
    background-clip: padding-box; 
}


thead {
    tr {
        th {
            background-color: antiquewhite;
        }
    }
}